* {
    text-decoration: none; /* Remove default text decoration */
}

/* Navigation bar styles */
.navbar {
    background: #242323; /* Background color */
    font-family: Courier New; 
    padding-right: 15px; 
    padding-left: 15px; 
}

body {
    background-color: #242323;
}

/* Navigation container styles */
.navdiv {
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Distribute content evenly */
}

/* Logo link styles */
.logo a {
    font-size: 125px; /* Change the font size using */
    font-weight: 600;
    color: white; 
}

/* Logo image styles */
.logo-img {
    height: 155px; /* Match the height with the font size */
    width: auto; /* Let the width adjust automatically */
    padding-top: 20px;
}

/* CSS for the full-screen image */
.full-screen-image {
    width: 100%;
    height: 100vh; /* vh stands for viewport height */
    object-fit: cover; /* Ensures the image covers the entire container */
}

/* CSS for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px; /* Gap between grid items */
}

/* CSS for the images within the grid */
.grid-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* List item styles */
li {
    list-style: none; /* Remove default list styling */
    display: inline-block; 
}

/* Anchor (link) styles */
li a {
    color: #dddada; 
    font-size: 23px; 
    font-weight: bold; 
    margin-right: 25px; 
}

/* this is for my contact us section */
.ct {
    text-align: center;
    color: #ff8400;
    font-size: 40px;
    font-family: Courier New; 
    padding-top: 0px;
    width: 50%; /* Adjust the width of the contact text */
    margin: 0 auto; /* Center the text horizontally */
    margin-top: 5vh; /* Adjust top margin to align with logo */
    align-items: center;
}

/* Logo for contact us link styles */
.ctlogo {
    float: left; /* Align the logo to the left */
    margin-left: 5%; /* Add some space between the logo and the text */
    margin-right: 0%;
    margin-bottom: 0;
    margin-top: 5vh; /* Adjust margin top using vh units */
}

.ctlogo a {
    font-size: 20px; 
    font-weight: 600;
    color: white; 
}

.ctlogo img {
    width: 35%; /* Set the width of the logo to adjust size of the logo */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}

/* Contus us center text */
.ct {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically center content */
}

.cuct {
    flex: 1; /* Take up remaining space */
    font-size: 20px;
    color: white;
    font-family: Courier New; 
    text-align: left; /* Center the text */
    margin-top: 5vh; /* Adjust top margin to align with logo */
}

/*sub button stuff going here */
.subscribe-section {
    margin-left: auto; /* Push subscribe section to the right */
    margin-right: 5%; /* Add some space between the text and the subscribe button */
    margin-top: 5vh; /* Adjust top margin to align with logo */
}

.sub {
    font-size: 20px;
    color: white;
    font-family: Courier New; 
    text-align: right; /* Align text to the right */
    margin-right: 5%; /* Add some space between the text and the subscribe button */
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    width: 250px;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: #ff8400;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: rgb(255, 98, 0);
}


footer {
    background-color: #ffffff;
    color: #7c7c7c;
    padding: 50px;
    text-align: center;
    margin-top: 250px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*About us text */
.aut {
    color: white;
    -webkit-text-stroke: 2px black; /* For webkit-based browsers (Chrome, Safari) */
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    font-family: Courier New; 
    margin-top: 0px;
    
}

.background-image {
    /* Add background-image property with fbi.jpg */
    background-image: url('fbi.jpg');
    /* Set background properties */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Set height to cover the entire screen */
    height: 1700px;
}

/*About us text slogan */

.auts {
    color: #ff8400;
    -webkit-text-stroke: 2px black; /* For webkit-based browsers (Chrome, Safari) */
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    font-family: Courier New; 
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust this value as needed */

    
}

/* Logo for about us link styles */
.aulogo {
    float: center; /* Align the logo to the left */

    
}

.aulogo a {
    font-size: 20px; 
    font-weight: 600;
    color: white; 
}

.MOA {
    text-align: center;
    color: #ff8400;
    font-size: 40px;
    font-family: Courier New; 
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}

.FR {
    text-align: center;
    color: #ff8400;
    font-size: 20px;
    font-family: Courier New; 
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}
